aws_region          = "us-east-1"
cluster_name        = "eks-gitops-demo"
cluster_version     = "1.34"
vpc_cidr            = "10.0.0.0/16"
azs                 = ["us-east-1a", "us-east-1b"]
single_nat_gateway  = true

node_instance_types = ["t3.small"]
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 2

# 必ず自分のIPに絞ってください。0.0.0.0/0のまま本番相当の検証はしないこと。
public_access_cidrs = ["0.0.0.0/0"]

ecr_repository_name = "eks-gitops-observability/demo-app"
